<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.musicweb.dao.AlbumDao">

	<resultMap type="com.musicweb.domain.Album" id="AlbumMap">
		<id column="id" property="id"></id>
		<result ></result>
	</resultMap>
	<!-- select -->
	<select id="select"
	resultMap="AlbumMap">
	select * from album 
	where id=#{id}
	</select>

	<!-- selectByCategory -->
	<select id="selectByCategory"
	resultType="java.util.List">
	select * from album 
	where region=#{region} and style=#{style} 
	order by play_count 
	desc limit #{offset}, #{count}
	</select>
</mapper>